body *{
  font-family: 'Oswald', sans-serif;
}

h1 {
  font-weight: 900;
  font-size: 55px;
  color: darkred;
}

h2 {
  font-weight: 600;
  font-size: 25px;
  color: darkred;
    border-bottom: 3px solid darkred;
    width: 100%;
    display: block;
}

p {
    color: dimgrey;
	text-align: left;
	max-width: 60ch;
    font-weight: 500;
    font-size: 16px;
}

body {
  background-color: #D3D3D3FF;
}

.page {
  width: 850px;
  background-color: white;
  margin: auto;
  padding: 50px;
  padding-top: 35px;
    background-color: lightgrey;
}

.vis-container {
  width: 100%;
}

.description h2,
h1 {
  margin-top: 0px;
}

.description-right {
  padding-left: 20px;
}

.description-left {
  padding-right: 20px;
}

.pure-g {
  margin-bottom: 10px;
}

.small-font {
  font-size: 14px;
}

.figure {
	color: black;
	font: "Arial";
	font-weight: bold;
	font-weight: 500;
	font-size: 14.4px;
	max-width: none;
}